/* SCSS HEX 
$isabelline: #edede9ff;
$pale-silver: #d6ccc2ff;
$linen: #f5ebe0ff;
$champagne-pink: #e3d5caff;
$desert-sand: #d5bdafff;
*/
/* SCSS HSL */

$isabelline: rgb(219, 219, 208);
$pale-silver: hsla(30, 20%, 80%, 1);
$linen: hsla(31, 51%, 92%, 1);
$champagne-pink: hsla(26, 31%, 84%, 1);
$desert-sand: hsla(22, 31%, 76%, 1);

